.pagedetail-selectlist{
    height: 42px;
    background-color: white;
    padding: 5px;
    border-color: lightgrey;
    border-radius: 5px;
    /* letter-spacing: 0px; */
    font-family: monospace;
    word-spacing: -6px;
    font-size: 15px;
}
.add-cart{
    border-radius: 5px;
}
.add-list-creat{
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 9px;
    border-color: lightgrey;
    padding-top: 9px;
}