.categorysubtitle{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 4px;
    padding-left: 15px;
    font-weight: bold;
    margin-top: 12px;
}

.widget-priceslider{
    float: right;
    padding-top: 15px;
    width:200px    
}
.priceheight{
    height: 85px;
    padding-left: 35px;
    padding-top: 20px;
}

.sidebar-shop .widget {
    margin: 2.0rem!important;
    padding-bottom: 1.1rem!important;
}

.inner-menu{
    margin-bottom: 0px!important;
    font-size: 13px;
    color: grey;
}
.body-font-padding{
    padding-top: 0px!important;
    padding-left: 0px!important;
}
.cat-list{
    padding-left: 20px;
    padding-top: 20px;
}

// .sidebar-shop .widget-title0 a::before, .sidebar-shop .widget-title0 a::after {
//     content: '';
//     position: absolute;
//     display: inline-block;
//     right: .1rem;
//     top: 50%;
//     width: 10px;
//     height: 2px;
//     background-color: #000;
//     margin-top: -1px;
//     transition: all .35s;

// }
// .sidebar-shop .widget-title0 a::before, .sidebar-shop .widget-title0 a::after {
//     content: '';
//     position: absolute;
//     display: inline-block;
//     right: .1rem;
//     top: 50%;
//     width: 10px;
//     height: 2px;
//     background-color: #000;
//     margin-top: -1px;
//     transition: all .35s;
// }
// .sidebar-shop .widget-title0 a.collapsed::after {
//     transform: rotate(-90deg);
// }
