.addtolist{
    padding-top:7px;
}
.button-padding{
    margin-left: 10px;
}
.pagedetail-selectlist_b {
    height: 35px;
    background-color: white;
    padding: 5px;
    border-color: lightgrey;
    border-radius: 5px;
    font-family: monospace;
    word-spacing: -6px;
}
.list_search_title{
    font-size: 18px;
}
.list_search_price{
    margin-left: 0px;
}
.list_search_price_cost{
    text-decoration: line-through;
}
.list_search_price_sale{
    color: red;
}
.category_style{
    // border-radius: 16px;
    // border-bottom: 1px solid lightgrey;    
    margin-bottom: 7px;
}