.displayspace-price{
    padding-top: 8px;
}
.filterbutton{
    margin-top:3px;
    float: right;
    padding-right: 20px;
}
.priceheight{
    height: 85px;
}
.noUi-horizontal {
    height: 2.3rem!important;
}
.button_price{
    padding-top: 15px;
    padding-left: 20px;
}
.side_price_bar{
    padding-top: 20px;
}
