.thanks_order{
    border: solid;
    width: 96%;
    margin: 20px;
    border-radius: 10px;
    border-color: royalblue;
}
.thanks_title{
    color: green;
    font-size: 25px;
    padding-left: 30px;
    padding-top:20px;
    font-weight: bold;
}
.thanks_content p{
    padding-left:30px;
}
.thanks_link_order{
    color:royalblue!important;
}
.ordernumbermap{
    padding-left: 45px!important;
}